<script>
	// Colors
	const authed_active = '#724bb7' // --purple-500
	const authed_hover = '#8662C7' // --purple-400
	const authed_inactive = '#CFBCF2' // --purple-200
	const unauthed_active = '#829AB1' // --blue-gray-500
	const unauthed_hover = '#9fb3c8' // --blue-gray-400
	const unauthed_inactive = '#D9E2EC' //--blue-gray-200

	const canvas = document.getElementById('whistles-chart')
	const whistlesChart = new Chart(canvas, {
		type: 'bar',
		data: {
			labels: {{ chart_xaxis_labels }},
			datasets: [
				{
					label: 'Logged in',
					data: {{ authed_chart_data }},
					hoverBackgroundColor: authed_hover, 
					backgroundColor: function(context) {
						let index = context.dataIndex;
						if (index === {{ day }}) { // Change index to the bar we want to highlight
							return authed_active // Color for highlighted bar
						} else {
							return authed_inactive // Default color for other bars
						}
					},
				},
				{
					label: 'Unauthenticated',
					data: {{ unauthed_chart_data }},
					hoverBackgroundColor: unauthed_hover, 
					backgroundColor: function(context) {
						let index = context.dataIndex;
						if (index === {{ day }}) { // Change index to the bar we want to highlight
							return unauthed_active // Color for highlighted bar
						} else {
							return unauthed_inactive // Default color for other bars
						}
					},
				}
			]
		},
		options: {
			maintainAspectRatio: false,
			animation: { duration: 0 },
			elements: {
				bar: {
					borderRadius: 2,
				},
				point: {
					radius: 2,
				}
			},
			plugins: {
				legend: { 
					display: true,
					position: 'bottom',
					labels: {
						usePointStyle: true,
						pointStyle: 'rectRounded',
						boxHeight: 10,
						boxWidth: 8,
					}
				},
				tooltip: { enabled: false },
			},
			responsive: true, // TODO made it responsive
			scales: {
				x: { 
					grid: { display: false },
					stacked: true,
				},
				y: { grid: { display: false },
					ticks: { precision: 0 },
					stacked: true,
					suggestedMax: 10,
				}
			},
			onHover: (event, chartElement) => {
				event.native.target.style.cursor = chartElement[0] ? 'pointer' : 'default'
			},
		},
	})
	const chartDates = {{ chart_dates|safe }}
	canvas.onclick = (evt) => {
		const res = whistlesChart.getElementsAtEventForMode(
			evt,
			'nearest',
			{ intersect: true },
			true
		)
		// If didn't click on a bar, `res` will be an empty array
		if (res.length === 0) {
			return
		}

		/* -1 is used because we're using chart bar number (which starts at 1) to lookup the date in an array (which starts at 0) */
		window.location = "{% url 'silent_mammoth_whistle:index_by_date' date %}".slice(0,-10) + chartDates[whistlesChart.data.labels[res[0].index]-1]
		
	}
</script>